
.col-md {
  display: flex;
  flex-direction: column;
}
.col-md > div {
  flex: 1;
}
body {
  text-align: center;
  font-family: 'Orbitron', cursive;
  font-weight: bolder;
  font-size: larger;
  background-color: #808782;
  color: #B3FFB3;
}
.slot {
color: #A6D3A0 ;
background-color: #656565;
}

.price {
  color: #D1FFD7;
}

.number {
  text-align: left;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#equals {
  vertical-align: middle;
}

.container-that-stretches {
  height:100%;
  display:flex;
  align-items: stretch;
  /* align-items:center; /* vertically aligned! */
  justify-content: center;
}
#animal-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: auto\9;
  max-width: 100%;
  text-items: center;
}
div#problem-and-calc {
  position: absolute;
  bottom: 40px;
  width: 50%;
  text-align: center;
}
#animal-img {
  max-width: 50%;
  height: auto;
  width: auto\9; /* ie8 */
  text-align: center;

  display:flex;
  justify-content: center;
  align-items: center;
}
